*.la
*.lo
*.o
.cproject
.deps
.libs
.project
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
config.*
config.h
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/bin
src/extensions/far/farcompilestrings
src/extensions/far/farcreate
src/extensions/far/farequal
src/extensions/far/farextract
src/extensions/far/farinfo
src/extensions/far/farprintstrings
src/extensions/pdt/pdtcompose
src/extensions/pdt/pdtexpand
src/extensions/pdt/pdtinfo
src/extensions/pdt/pdtreplace
src/extensions/pdt/pdtreverse
src/extensions/pdt/pdtshortestpath
stamp-h1
stamp-h2
