.cproject
.project
Makefile
config.h
config.log
config.status
libtool
.deps
.libs
*.o
src/bin
*.la
*.lo
src/extensions/far/farcompilestrings
src/extensions/far/farcreate
src/extensions/far/farequal
src/extensions/far/farextract
src/extensions/far/farinfo
src/extensions/far/farprintstrings
src/extensions/pdt/pdtcompose
src/extensions/pdt/pdtexpand
src/extensions/pdt/pdtinfo
src/extensions/pdt/pdtreplace
src/extensions/pdt/pdtreverse
src/extensions/pdt/pdtshortestpath
stamp-h1
stamp-h2